<!-- interpolation  = {{}} -->

    <h1>{{title}}</h1>
    {{4+4}}
    {{true}}

<!-- Angular CLI (command line interface) -->

    <!-- CLI : Run ,code Regenerated, Build in use of the command line interface -->

<!-- Important command -->

  <!--
    1. ng generate module (module name)
      ng g m (module name)
      - module is big
      - in side the app

      -# inside the module create a component
          - ng generate component (module name) / (component name)

    2. ng generate component (component name)
      ng g c (component name)
      - in side the app
      - component is small -->

<h1>component</h1>
<app-login></app-login>

<h1>module</h1>
<app-sign-up></app-sign-up>
<app-sign-in></app-sign-in>
<app-login></app-login>

<h1>Make and call function</h1>
<button (click)="getname" >click here</button>
