<!-- interpolation  = {{}} -->

    <!-- <h1>{{title}}</h1>
    {{4+4}}
    {{true}} -->

<!-- Angular CLI (command line interface) -->

    <!-- CLI : Run ,code Regenerated, Build in use of the command line interface -->

<!-- Important command -->

  <!--
    1. ng generate module (module name)
      ng g m (module name)
      - module is big
      - in side the app

      -# inside the module create a component
          - ng generate component (module name) / (component name)

    2. ng generate component (component name)
      ng g c (component name)
      - in side the app
      - component is small -->

<!-- <h1>component</h1>
<app-login></app-login>

<h1>module</h1>
<app-sign-up></app-sign-up>
<app-sign-in></app-sign-in>
<app-login></app-login> -->

<!-- <h1>Make and call function</h1>

<button (click)="getname()" >click here</button>
<button (click)="getpara('Anurag')" >input</button> -->


<!-- text box value and print -->

<!-- <input type="text" #val (keyup)="getvalue(val.value)" name="name" placeholder="Enter name">
<p>my name is {{displayval}}</p> -->
<!-- <input type="text" #val placeholder="enter name" name="name">
<button (click)="getvalue(val.value)">click</button>
<p>my name is {{displayval}}</p> -->

 <!-- make counter -->
 <!-- <h1>counter</h1>
<button (click)="counter('add')">++</button>
<p>{{count}}</p>
<button (click)="counter('minus')">--</button> -->


